.DS_Store
.python-version

#Exclude everything in /LaTeX\ Document except a few files and folders.
/LaTeX Document/*
!/LaTeX Document/The_gamma_distribution.pdf
!/LaTeX Document/The_gamma_distribution.tex
!/LaTeX Document/_assets
!/LaTeX Document/images